
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 400px;
    background-color: lightgrey;
    font-size: 24px;
}

h1{
    color: blue;
    text-decoration: underline;
    letter-spacing: 2px;
}

#navbar{
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 1;
    top: 0px;
    left: 0;
    margin: 0px;
    font-size: 20px;
    background-color: rgb(3, 3, 61);
    text-transform: uppercase;
    padding: 0px 30px;
}
#navbar ul{
    list-style: none;
    padding: 0px;
    margin: 10px;;
}
#navbar a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 0px;
    line-height: 100px;
    font-size: 20px;
}

#navbar h1{
    font-size: 20px;
    color: white;
    margin: 50px 0px;
}
#navbar a:hover{
    color: lime;
}
code{
    color: rgb(255, 47, 92);
}