body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;

}

main{
    text-align: left;
    }
h1{
    color: blue;
    text-align: left;
    text-decoration: underline;
    letter-spacing: 2px;
}
#navbar{
    color: chartreuse;
    font-size: x-large;
}
code{
    color: maroon;
    font-size: xx-large;
    background-color: lightskyblue;
}